@media screen and (max-width: 6008px){

  .three-fence{
    background-color: #041c20;
    color: #54c8da00;
    min-height: 330px;
    height: 550px;
    width: 250px;
    z-index: 5;
    position: absolute;
    border-top-right-radius:3cqb;
    border-bottom-right-radius:3cqb;
    
  }
  
  /* .three-fence p{
    font-size: 2px;
    color: #54c8da00;
  
  } */
  
  
  .three-fence-1{
    background-color: #041c20;
    color: #54c8da;
    min-height: 30px;
    height: 550px;
    width: 550px;
    z-index: 5;
    position: absolute;
    border-top-right-radius:3cqb;
    border-bottom-right-radius:3cqb; 
    animation-duration: 4.5s;
    animation-name: animate-fence1; 
  }
  
  /* .three-fence-1 p{
    font-size: 2vw;
    color: #54c8da;
    animation-duration: 4.5s;
    animation-name: animate-fence1; 
  } */
  
  
  
  @keyframes animate-fence1{
    0%{
      width: 250px;
      color:#01131500;
  
      font-size: 20px;
  
    }
    70%{
      color:#01131500;
  
    }
  
    100%{
      width: 550px;
      font-size: 20px;
      color: #54c8da;
  
  
  
    }
  }
  
  
  .three-fence-second{
    background-color: #2891a1;
    color: #01131500;
    min-height: 330px;
    height: 550px;
    width: 400px;
    border-top-right-radius:3cqb;
    border-bottom-right-radius:3cqb;
    z-index: 4;
    position: absolute;
  
  }
  
  
  .three-fence-2{
    background-color: #2891a1;
    color: #011315;
    min-height: 30px;
    height: 550px;
    width: 860px;
    border-top-right-radius:3cqb;
    border-bottom-right-radius:3cqb;
    z-index: 4;
    position: absolute;
    animation-duration: 3.5s;
    animation-name: animate-fence-2; 
  
  
  }
  
  /* .three-fence-second p{
    font-size: 2px;
    color: #01131500;
  
  
  }
  
  
  .three-fence-2 p{
    font-size: 2vw;
    animation-duration: 3.5s;
    animation-name: animate-fence-2;
    color: #011315;
  
  } */
  
  
  @keyframes animate-fence-2{
    0%{
      width: 400px;
      font-size: 2px;
      color: #01131500;
  
    }
  
  
  70%{
    color:#01131500;
  
  }
  
    100%{
      width: 860px;
      font-size: 20px;
      color: #011315;
  
    }
  }
  
  
  .three-fence-third{
    background-color: #01FFFF;
    color: #0a434b00;
    min-height: 330px;
    height: 550px;
    width: 800px;
    border-top-right-radius:3cqb;
    border-bottom-right-radius:3cqb;
    z-index: 3;
    position: absolute;
  
  
  }
  
  /* .three-fence-third p{
    font-size: 2px;
    color: #0a434b00;
  
  } */
  
  
  
  .three-fence-3{
    background-color: #01FFFF;
    color: #0a434b;
    min-height: 330px;
    height: 550px;
    width: 1100px;
    border-top-right-radius:3cqb;
    border-bottom-right-radius:3cqb;
    z-index: 3;
    position: absolute;
    animation-duration: 2.5s;
    margin: 0;
    padding: 0;
    animation-name: animate-fence-3; 
  }
  
  /* .three-fence-3 p{
    font-size: 2vw;
    animation-duration: 2.5s;
    animation-name: animate-fence-3; 
    color: #0a434b;
  
  } */
  
  
  
  @keyframes animate-fence-3{
    0%{
      width: 800px;
      height: 550px;
      color: #0a434b00;
  
  
  
    }
    
  
    70%{
      color:#01131500;
    
    }
    100%{
      width: 1100px;
      height: 550px;

      color: #0a434b;
  
  
    }
  }
  
  
  
  
  
  /* .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
  
  .isVisible {
    display: grid;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    color: rgb(17, 16, 20);
    font-size: 20px;
    font-weight: 900;
    padding: 40px;
  }
  
  
  /* @media(prefers-reduced-motion){
    .box-animate {
      display: flex;
      padding: 2vh;
      color: rgba(255, 255, 255, 0.8);
      justify-content: center;
      align-items: center;
      font-weight: 900;
      font-size: 2em;
      opacity: 1;
      min-height: 50vh;
      transition: none;
  }
  .box {
    display: flex;
    padding: 2vh;
    color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 2em;
    opacity: 1;
    min-height: 50vh;
    transition: none;
  }
  } */
  }

@media screen and (max-width: 1455px){

.three-fence{
  background-color: #041c20;
  color: #54c8da00;
  min-height: 330px;
  height: 25vw;
  width: 15vw;
  z-index: 5;
  position: absolute;
  border-top-right-radius:3cqb;
  border-bottom-right-radius:3cqb;
  
}

/* .three-fence p{
  font-size: 2px;
  color: #54c8da00;

} */


.three-fence-1{
  background-color: #041c20;
  color: #54c8da;
  min-height: 330px;
  height: 25vw;
  width: 33vw;
  z-index: 5;
  position: absolute;
  border-top-right-radius:3cqb;
  border-bottom-right-radius:3cqb; 
  animation-duration: 4.5s;
  animation-name: animate-fence1; 
}

/* .three-fence-1 p{
  font-size: 2vw;
  color: #54c8da;
  animation-duration: 4.5s;
  animation-name: animate-fence1; 
} */



@keyframes animate-fence1{
  0%{
    width: 15vw;
    color:#01131500;

    font-size: 2vw;

  }
  70%{
    color:#01131500;

  }

  100%{
    width: 33vw;
    font-size: 2vw;
    color: #54c8da;



  }
}


.three-fence-second{
  background-color: #2891a1;
  color: #01131500;
  min-height: 330px;
  height: 25vw;
  width: 40vw;
  border-top-right-radius:3cqb;
  border-bottom-right-radius:3cqb;
  z-index: 4;
  position: absolute;

}


.three-fence-2{
  background-color: #2891a1;
  color: #011315;
  min-height: 330px;
  height: 25vw;
  width: 52vw;
  border-top-right-radius:3cqb;
  border-bottom-right-radius:3cqb;
  z-index: 4;
  position: absolute;
  animation-duration: 3.5s;
  animation-name: animate-fence-2; 


}

/* .three-fence-second p{
  font-size: 2px;
  color: #01131500;


}


.three-fence-2 p{
  font-size: 2vw;
  animation-duration: 3.5s;
  animation-name: animate-fence-2;
  color: #011315;

} */


@keyframes animate-fence-2{
  0%{
    width: 25vw;
    font-size: 2px;
    color: #01131500;

  }


70%{
  color:#01131500;

}

  100%{
    width: 52vw;
    font-size: 2vw;
    color: #011315;

  }
}


.three-fence-third{
  background-color: #01FFFF;
  color: #0a434b00;
  min-height: 330px;
  height: 25vw;
  width: 35vw;
  border-top-right-radius:3cqb;
  border-bottom-right-radius:3cqb;
  z-index: 3;
  position: absolute;


}

/* .three-fence-third p{
  font-size: 2px;
  color: #0a434b00;

} */



.three-fence-3{
  background-color: #01FFFF;
  color: #0a434b;
  min-height: 330px;
  height: 25vw;
  width: 67vw;
  border-top-right-radius:3cqb;
  border-bottom-right-radius:3cqb;
  z-index: 3;
  position: absolute;
  animation-duration: 2.5s;
  margin: 0;
  padding: 0;
  animation-name: animate-fence-3; 
}

/* .three-fence-3 p{
  font-size: 2vw;
  animation-duration: 2.5s;
  animation-name: animate-fence-3; 
  color: #0a434b;

} */



@keyframes animate-fence-3{
  0%{
    width: 35vw;
    color: #0a434b00;



  }
  

  70%{
    color:#01131500;
  
  }
  100%{
    width: 67vw;
    color: #0a434b;


  }
}





/* .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.isVisible {
  display: grid;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  color: rgb(17, 16, 20);
  font-size: 20px;
  font-weight: 900;
  padding: 40px;
}


/* @media(prefers-reduced-motion){
  .box-animate {
    display: flex;
    padding: 2vh;
    color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 2em;
    opacity: 1;
    min-height: 50vh;
    transition: none;
}
.box {
  display: flex;
  padding: 2vh;
  color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 2em;
  opacity: 1;
  min-height: 50vh;
  transition: none;
}
} */
}

@media screen and (max-width: 760px){
/* spelled out is before scroll, numbers are after */
  .three-fence{
    background-color: #041c20;
    min-height: 100px;
    bottom: 0;
    left: 15vw;
    color: #54c8da00;
    width: 59vw;
    height: 10vh;
    z-index: 5;
    position: absolute;
    border-top-right-radius:3cqb;
    border-bottom-right-radius:0cqb;
    border-top-left-radius:3cqb;
    padding-bottom: 4vh;
  }
  



  .three-fence-third{
    min-height: 100px;
    bottom: 0;
    left: 15vw;
    background-color: #01FFFF;
    color: #0a434b00;
    width: 59vw;
    height: 30vh;
    border-top-right-radius:3cqb;
    border-top-left-radius:3cqb;
    border-bottom-right-radius:0cqb;
    z-index: 3;
    position: absolute;
  
  
  }

 
  .three-fence-1{
    background-color: #041c20;
    color: #54c8da;
    bottom: 0;
    min-height: 100px;

    left: 15vw;
    width: 59vw;
    height: 30vh;
    z-index: 5;
    position: absolute;
    border-top-right-radius:3cqb;
    border-top-left-radius:3cqb;
    border-bottom-right-radius:0cqb;
    /* padding-bottom: 4vh; */
    animation-duration: 4.5s;
    animation-name: animate-fence1; 
  }
  


  @keyframes animate-fence1{
    0%{
      color:rgba(1, 19, 21, 0);
      background-color: #041c20;
      min-height: 100px;
      bottom: 0;
      left: 15vw;
      width:59vw;
      height: 10vh;
      border-top-right-radius:3cqb;  border-bottom-right-radius:0cqb;
      border-top-left-radius:3cqb;
    }
    70%{
      color:#01131500;
    }
  
    100%{
      height: 30vh;
      min-height: 100px;
      background-color: #041c20;
      color: #54c8da;
      bottom: 0;
      left: 15vw;
      width: 59vw;
      border-top-right-radius:3cqb;
      border-top-left-radius:3cqb;
      border-bottom-right-radius:0cqb;
    }
  }
  
  
  .three-fence-second{
    min-height: 100px;
    bottom: 0;
    left: 15vw;
    background-color: #2891a1;
    color: #01131500;
    width: 59vw;
    height: 20vh;
    border-top-right-radius:3cqb;
    border-top-left-radius:3cqb;
    border-bottom-right-radius:0cqb;
    z-index: 4;
    position: absolute;
  
  }
  
  .three-fence-2{
    min-height: 100px;
    bottom: 0;
    left: 15vw;
    background-color: #2891a1;
    color: #01131500;
    width: 59vw;
    height: 50vh;
    border-top-right-radius:3cqb;
    border-top-left-radius:3cqb;
    border-bottom-right-radius:0cqb;
    z-index: 4;
    color: #011315;
    position: absolute;
    animation-duration: 3.5s;
    animation-name: animate-fence-2; 
  
  }

    
  @keyframes animate-fence-2{
    0%{
      /* font-size: 2px; */
      min-height: 100px;
      bottom: 0;
      left: 15vw;
      background-color: #2891a1;
      color: #01131500;
      width: 59vw;
      height: 20vh;
      border-top-right-radius:3cqb;
      border-top-left-radius:3cqb;
      border-bottom-right-radius:0cqb;
  
    }
  
  
  70%{
    color:#01131500;
  
  }
  
    100%{
      color: #011315;
      min-height: 100px;
      bottom: 0;
      left: 15vw;
      background-color: #2891a1;
      color: #011315;
      width: 59vw;
      height: 50vh;
      border-top-right-radius:3cqb;
      border-top-left-radius:3cqb;
      border-bottom-right-radius:0cqb;
    }
  }
  
  
  .three-fence-3{
    min-height: 100px;
    bottom: 0;
    left: 15vw;
    background-color: #01FFFF;
    color: #0a434b;
    width: 59vw;
    height: 60vh;
    border-top-right-radius:3cqb;
    border-top-left-radius:3cqb;
    border-bottom-right-radius:0cqb;
    z-index: 3;
    color: #0a434b;

    position: absolute;
    animation-duration: 2.5s;
    animation-name: animate-fence-3; 
  }



  
  
  
  
  @keyframes animate-fence-3{
    0%{
      min-height: 100px;
      bottom: 0;
      left: 15vw;
      background-color: #1efbd3;
      color: #0a434b00;
      width: 59vw;
      height: 30vh;
      border-top-right-radius:3cqb;
      border-top-left-radius:3cqb;
      border-bottom-right-radius:0cqb;
  
    }
    
  
    70%{
      color:#01131500;
    
    }
    100%{
      min-height: 100px;
      bottom: 0;
      left: 15vw;
      background-color: #1efbd3;
      color: #0a434b;
      width: 59vw;
      height: 60vh;
      border-top-right-radius:3cqb;
      border-top-left-radius:3cqb;
      border-bottom-right-radius:0cqb;
  
    }
  }
  
  
  
  
  
  /* .box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
  
  .isVisible {
    display: grid;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100vw;
    color: rgb(17, 16, 20);
    font-size: 20px;
    font-weight: 900;
    padding: 40px;
  }
  
  
  /* @media(prefers-reduced-motion){
    .box-animate {
      display: flex;
      padding: 2vh;
      color: rgba(255, 255, 255, 0.8);
      justify-content: center;
      align-items: center;
      font-weight: 900;
      font-size: 2em;
      opacity: 1;
      min-height: 50vh;
      transition: none;
  }
  .box {
    display: flex;
    padding: 2vh;
    color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 2em;
    opacity: 1;
    min-height: 50vh;
    transition: none;
  }
  } */
  }


  @media (prefers-reduced-motion) {
    .three-fence-1{
      animation-duration: 0s;
      animation-name: no-animate; 
    }
    .three-fence-2{
      animation-duration: 0s;
      animation-name: no-animate; 
    }
    .three-fence-3{
      animation-duration: 0s;
      animation-name: no-animate; 
    }
  }