
.three-fence{
  background-color: #041c20;
  color: #54c8da;
  min-height: 330px;
  height: 40vh;
  width: 5vw;
  opacity: 0;
  z-index: 5;
  position: absolute;
  border-top-right-radius:3cqb;
  border-bottom-right-radius:3cqb;
}


.three-fence-1{
  background-color: #041c20;
  color: #54c8da;
  min-height: 330px;
  height: 40vh;
  opacity: 1;
  width: 43vw;
  z-index: 5;
  position: absolute;
  border-top-right-radius:3cqb;
  border-bottom-right-radius:3cqb; 
  animation-duration: 2s;
  animation-name: animate-fence1; 
}

.box-animate-3{
  transform: translateX(0%);
  opacity: 1;
  animation-duration: 2s;
  animation-name: animate-box3; 
}


@keyframes animate-fence1{
  0%{
    width: 25vw;
    opacity: 0;
  }

  100%{
    width: 43vw;
    opacity: 1;

  }
}



@keyframes animate-box2{
  0%{
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-10%);

  }

  50%{
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-10%);

  }
  100%{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
  }
}

@keyframes animate-box3{
  0%{
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-10%);

  }

  50%{
    opacity: 0;
    filter: blur(2px);
    transform: translateX(-10%);

  }
  100%{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
  }
}





/* .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.isVisible {
  display: grid;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  color: rgb(17, 16, 20);
  font-size: 20px;
  font-weight: 900;
  padding: 40px;
}


/* @media(prefers-reduced-motion){
  .box-animate {
    display: flex;
    padding: 2vh;
    color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 2em;
    opacity: 1;
    min-height: 50vh;
    transition: none;
}
.box {
  display: flex;
  padding: 2vh;
  color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 2em;
  opacity: 1;
  min-height: 50vh;
  transition: none;
}
} */
 