
.three-fence{
  background-color: #041c20;
  color: #54c8da;
  min-height: 330px;
  height: 40vh;
  width: 25vw;
  z-index: 5;
  position: absolute;
  border-top-right-radius:3cqb;
  border-bottom-right-radius:3cqb;
}


.three-fence-1{
  background-color: #041c20;
  color: #54c8da;
  min-height: 330px;
  height: 40vh;
  width: 43vw;
  z-index: 5;
  position: absolute;
  border-top-right-radius:3cqb;
  border-bottom-right-radius:3cqb; 
  animation-duration: 2s;
  animation-name: animate-fence1; 
}

.three-fence-1 p{
  font-size: 2vw;
  animation-duration: 2s;
  animation-name: animate-fence1; 
}



@keyframes animate-fence1{
  0%{
    width: 25vw;
    font-size: 2px;

  }

  100%{
    width: 43vw;
    font-size: 2vw;


  }
}


.three-fence-second{
  background-color: #2891a1;
  color: #011315;
  min-height: 330px;
  height: 40vh;
  width: 40vw;
  border-top-right-radius:3cqb;
  border-bottom-right-radius:3cqb;
  z-index: 4;
  position: absolute;

}


.three-fence-2{
  background-color: #2891a1;
  color: #011315;
  min-height: 330px;
  height: 40vh;
  width: 68vw;
  border-top-right-radius:3cqb;
  border-bottom-right-radius:3cqb;
  z-index: 4;
  position: absolute;
  animation-duration: 3s;
  animation-name: animate-fence-2; 


}

.three-fence-2 p{
  font-size: 2vw;
  animation-duration: 3s;
  animation-name: animate-fence-2; 
}


@keyframes animate-fence-2{
  0%{
    width: 40vw;
    font-size: 2px;
  }

  100%{
    width: 68vw;
    font-size: 2vw;

  }
}


.three-fence-third{
  background-color: #1efbd3;
  color: #0a434b;
  min-height: 330px;
  height: 40vh;
  width: 25vw;
  border-top-right-radius:3cqb;
  border-bottom-right-radius:3cqb;
  z-index: 3;
  position: absolute;

}


.three-fence-3{
  background-color: #1efbd3;
  color: #0a434b;
  min-height: 330px;
  height: 40vh;
  width: 90vw;
  border-top-right-radius:3cqb;
  border-bottom-right-radius:3cqb;
  z-index: 3;
  position: absolute;
  animation-duration: 4s;
  animation-name: animate-fence-3; 
}

.three-fence-3 p{
  font-size: 2vw;
  animation-duration: 3s;
  animation-name: animate-fence-3; 
}



@keyframes animate-fence-3{
  0%{
    width: 25vw;
    font-size: 2px;


  }
  

  100%{
    width: 90vw;
    font-size: 2vw;

  }
}





/* .box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.isVisible {
  display: grid;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  color: rgb(17, 16, 20);
  font-size: 20px;
  font-weight: 900;
  padding: 40px;
}


/* @media(prefers-reduced-motion){
  .box-animate {
    display: flex;
    padding: 2vh;
    color: rgba(255, 255, 255, 0.8);
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 2em;
    opacity: 1;
    min-height: 50vh;
    transition: none;
}
.box {
  display: flex;
  padding: 2vh;
  color: rgba(255, 255, 255, 0.8);
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 2em;
  opacity: 1;
  min-height: 50vh;
  transition: none;
}
} */
 