input::placeholder {
  color: #299ffd;
  
}
input::-webkit-input-placeholder{
  color: #299ffd;
}
input::-moz-placeholder {
  color: #299ffd;
}

.lineBreak{
  height: 80px;
}

  
textarea {
  width: 100%;
  font-size: 1.1em;
  border-radius: 7px;
  min-height: 50px;
  border-width: 0;
  padding: .4em;
  font-family: "Arial";

}


.form-styling{
  float: right;
  margin-bottom: 30px;
  font-family: "Arial";
  border-radius: .375rem;
  width: 100%;
  padding: .375rem .75rem;
  line-height: 1.5;
  font-size: 1em;
  border: none;
  background: white;
  border-width: 0;
  color: #299ffd;
  display: block;
}

@media screen and (max-width: 6008px){

  textarea {
    width: 100%;
    font-size: 25px;
    border-radius: 7px;
    min-height: 50px;
    border-width: 0;
    padding: .4em;
    font-family: "Arial";
  
  }

  .form-styling{
    float: right;
    margin-bottom: 30px;
    font-family: "Arial";
    border-radius: .375rem;
    width: 100%;
    padding: .375rem .75rem;
    line-height: 1.5;
    font-size: 25px;
    border: none;
    background: white;
    border-width: 0;
    color: #299ffd;
    display: block;
  }

  
  .blueLine{
    background-color: #67b8fb;
    height: 6px;
    margin-bottom: 30px;
    z-index: 4;
    width: 600px;
    position: absolute;
    left: 0;
    transform: translatex(120px);
  }
  
  .blueLine2{
    /* background-color: #041C20;
    height: 10vh;
    margin-bottom: 4vh;
    margin-left: 0;
    left: 0;
    z-index: 5;
    width: 10vw;
    transform: translatex(-125px);
    position: absolute;
    opacity: 1; */
  }

  .yourInfo{
    padding-top: 40px;
    font-size: 20px;
    font-style: oblique;

  }
  #contactFormHeader{
    font-size: 150px;
    padding-top: 100px;
    padding-bottom: 40px;
    width: 426px;
  }

  .submitbutton{
    border-radius: 10px;
  margin-left: 10px;
  width: 100px;
  /* -webkit-border-radius: 8px; */
  padding-left: .5em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: .5em;
  border-width: 2px;
  font-family: "Arial";
  background-color: #041c20;
  border-color: #041c20;
  color: rgb(255, 255, 255);

  }

  .submitbutton:hover{
    background-color: rgba(0, 0, 255, 0);
    color:#041c20;
    border-color: #041c20;
    border-width: 2px;

  
  }
  #login{
    width: 1156px;
    margin: auto;
    background-color: #B3DDFF;
    padding-right: 90px;
    padding-left: 90px;
    padding-top: 20px;
    padding-bottom: 0vw;
    border-radius: 42px;
    transform: translateY(-70px);
    color: black; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.842);
  }
  
}

@media screen and (max-width: 1455px){
  .blueLine{
    background-color: #67b8fb;
    height: .5vh;
    margin-bottom: 4vh;
    z-index: 4;
    width: 30vw;
    position: absolute;
    left: 0;
    transform: translatex(85px);
  }
  .blueLine2{
    /* background-color: #041C20;
    height: 10vh;
    margin-bottom: 4vh;
    margin-left: 0;
    left: 0;
    z-index: 5;
    width: 10vw;
    transform: translatex(-125px);
    position: absolute;
    opacity: 1; */
  }

  .yourInfo{
    padding-top: 3vh;
    font-size: 1em;
    font-style: oblique;

  }
  #contactFormHeader{
    font-size: 7vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
    width: 30%;
  }

  .submitbutton{
    border-radius: 10px;
  margin-left: 10px;
  width: 100px;
  /* -webkit-border-radius: 8px; */
  padding-left: .5em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: .5em;
  border-width: 2px;
  font-family: "Arial";
  background-color: #041c20;
  border-color: #041c20;
  color: rgb(255, 255, 255);

  }

  .submitbutton:hover{
    background-color: rgba(0, 0, 255, 0);
    color:#041c20;
    border-color: #041c20;
    border-width: 2px;

  
  }

  .form-styling{
    float: right;
    margin-bottom: 30px;
    font-family: "Arial";
    border-radius: .375rem;
    width: 100%;
    padding: .375rem .75rem;
    line-height: 1.5;
    font-size: 1.2em;
    border: none;
    background: white;
    border-width: 0;
    color: #299ffd;
    display: block;
  }

  textarea {
    width: 100%;
    font-size: 1.2em;
    border-radius: 7px;
    min-height: 50px;
    border-width: 0;
    padding: .4em;
    font-family: "Arial";
  
  }

  #login{
    width: 80vw;
    margin: auto;
    background-color: #B3DDFF;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 2vw;
    padding-bottom: 0vw;
    border-radius: 2vw;
    transform: translateY(-6vh);
    color: black; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.842);
  }
  
}

@media screen and (max-width: 760px){
  .yourInfo{
    padding-top: 3vh;
    font-size: 3vw;
    font-style: oblique;
  }

  textarea {
    width: 100%;
    font-size: 3.25vw;
    border-radius: 7px;
    min-height: 50px;
    border-width: 0;
    padding: .4em;
    font-family: "Arial";
  
  }

  .form-styling{
    float: right;
    margin-bottom: 30px;
    font-family: "Arial";
    border-radius: .375rem;
    width: 100%;
    padding: .375rem .75rem;
    line-height: 1.5;
    font-size: 3.25vw;
    border: none;
    background: white;
    border-width: 0;
    color: #299ffd;
    display: block;
  }

  .blueLine{
    background-color: #67b8fb;
    height: .3vh;
    margin-bottom: 2vh;
    width: 35vw;
    transform: translatex(10vw);

  }
  

  #login{
    width: 90vw;
    margin: auto;
    background-color: #B3DDFF;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 2vw;
    padding-bottom: 0vw;
    border-radius: 2vw;
    transform: translateY(-2vh);
    color: black; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.842);
  }
  #contactFormHeader{
    font-size: 15vw;
    padding-top: 7vw;
    padding-bottom: 2vw;
    width: 30%;
  }


  .submitbutton{
  border-radius: 10px;
  margin-left: 10px;
  width: 100px;
  -webkit-border-radius: 8px;
  padding-left: .5em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: .5em;
  border-width: 0px;
  font-family: "Arial";
  background-color: #041c20;
  border-color: #041c20;
  color: rgb(255, 255, 255);

  }

  
}



#contactform{
  height: 70vh;
  margin: auto;
  padding-top: 30vh;
  text-align: left;
  color:rgb(0, 0, 0);

}

.contactwrapper{
  background-color:#f2f0f0;
  height: 100vh;
}



input:focus {
  outline:none;

}


.email-outsides{
  padding-top: 0vh;
}

.success {
  padding-left: 40px;
  color: rgb(19, 92, 19);
  background-color:rgba(119, 226, 111, 0.571);
  margin-bottom: 15px;
  border-radius: 20px;
  list-style: none;
  
}


.errors {
  padding-left: 40px;
  color: red;
  border-radius: 20px;
  background-color:rgb(234, 222, 222);
  margin-bottom: 15px;
  list-style: none;

}

::placeholder{
  color: #299ffd;
}
::-ms-input-placeholder { /* Edge 12 -18 */
  color: #299ffd;
}
