@media screen and (max-width: 3008px){

  
  .submitbutton{
    border-radius: 10px;
  margin-left: 10px;
  width: 100px;
  -webkit-border-radius: 8px;
  padding-left: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 2em;
  border-width: 0px;
  font-family: 'NeuzeitGro-Bol';
  background-color: #041c20;
  border-color: #041c20;
  color: rgb(255, 255, 255);

  }

  .submitbutton:hover{
    background-color: blue;

  
  }
  #login{
    width: 90vw;
    margin: auto;
    background-color: #B3DDFF;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 2vw;
    padding-bottom: 0vw;
    border-radius: 2vw;
    transform: translateY(-6vh);
    color: black; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.842);
  }
  
}

@media screen and (max-width: 768px){

  #login{
    width: 90vw;
    margin: auto;
    background-color: #B3DDFF;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 2vw;
    padding-bottom: 10vw;
    border-radius: 2vw;
    transform: translateY(-2vh);
    color: black; 
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.842);
  }

  .submitbutton{
  border-radius: 10px;
  margin-left: 10px;
  width: 100px;
  -webkit-border-radius: 8px;
  padding-left: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-right: 2em;
  border-width: 0px;
  font-family: 'NeuzeitGro-Bol';
  background-color: #041c20;
  border-color: #041c20;
  color: rgb(255, 255, 255);

  }

  
}




#contactform{
  height: 70vh;
  margin: auto;
  padding-top: 30vh;
  text-align: left;
  color:rgb(0, 0, 0);

}

.contactwrapper{
  background-color:#f2f0f0;
  height: 100vh;
}


  
textarea {
  width: 100%;
  font-size: 1.1em;
  border-radius: 7px;
  min-height: 50px;
  padding: .4em;
  font-family: "raleway";

}




input:focus {
  outline:none;
}


.form-control{
  float: right;
  margin-bottom: 30px;
  font-family: "raleway";
  font-size: 1em;
  border: none;
  background: white;
  border-bottom: 1px solid rgb(59, 31, 9);
}

.email-outsides{
  padding-top: 0vh;
}
