@media screen and (max-width: 15000px){
  
  #curly-brace-before1{
    opacity: 1;
    animation-duration: 2.5s;
    animation-name: animate-curly-brace; 
  }


  @keyframes animate-curly-brace{
    0%{
      width: 2vw;
      opacity: 0;
  
    }

    50%{
      opacity: .7;
    }
  
  
    100%{
      width: 220px;
      opacity: 1;
    
  
    }
  }
  
  
  .curly-brace{
    border-top-left-radius: 20px;
    border-color: #2891a1;
    border-width: 10px;
    border-top-style: solid;
    width: 220px;
    height: 20px;
    position: relative;
    transform: translateX(1px);
  }
  
  .curly-brace2{
    border-bottom-right-radius: 20px;
    border-color: #2891a1;
    border-width: 10px;
    border-bottom-style: solid;
    width: 220px;
    transform: translateY(-10px);
    position: relative;
  
  }
  
  
  .curly-brace3{
    border-bottom-left-radius: 20px;
    border-color: #2891a1;
    border-width: 10px;
    border-bottom-style: solid;
    width: 220px;
    transform: translateY(-10px);
    position: relative;
  
  
  }
  
  
  .curly-brace4{
    border-top-right-radius: 20px;
    border-color: #2891a1;
    border-width: 10px;
    border-top-style: solid;
    width: 220px;
    height: 20px;
    position: relative;
    transform: translateX(-1px);

    
  
  }
  
  
  #curly-braces-container{
    border-color: #2891a1;
    padding-bottom: 20px;
    width: 100vw;
    margin-left: 40px;
  
  } 
}

@media screen and (max-width: 1455px){
  .curly-brace{
    border-top-left-radius: 20px;
    border-color: #2891a1;
    border-width: 10px;
    border-top-style: solid;
    width: 7.5vw;
    height: 20px;
    position: relative;
  }
  
  .curly-brace2{
    border-bottom-right-radius: 20px;
    border-color: #2891a1;
    border-width: 10px;
    border-bottom-style: solid;
    width: 7.5vw;
    transform: translateY(-10px);
    position: relative;
  
  }
  
  
  .curly-brace3{
    border-bottom-left-radius: 20px;
    border-color: #2891a1;
    border-width: 10px;
    border-bottom-style: solid;
    width: 7.5vw;
    transform: translateY(-10px);
    position: relative;
  
  
  }
  
  
  .curly-brace4{
    border-top-right-radius: 20px;
    border-color: #2891a1;
    border-width: 10px;
    border-top-style: solid;
    width: 7.5vw;
    height: 20px;
    position: relative;
  
  }

  #curly-brace-before1{
    opacity: 1;
    animation-duration: 2.5s;
    animation-name: animate-curly-brace; 
    width: 13.5vw;

  }


  @keyframes animate-curly-brace{
    0%{
      width: 7.5vw;
      opacity: 0;
  
    }

    50%{
      opacity: .7;
    }
  
  
    100%{
      width: 13.5vw;
      opacity: 1;
    
  
    }
  }
  
  
  
  #curly-braces-container{
    border-color: #2891a1;
    padding-bottom: 2vh;
    width: 100vw;
    margin-left: 8vw;
  } 

  #curly-braces-container-animate{
    border-color: #2891a1;
    padding-bottom: 2vh;
    width: 100vw;
    margin-left: 2vw;
    animation-duration: 0s;
  } 


}


@media screen and (max-width: 760px){


  #curly-brace-before1{
    opacity: 1;
    width: 14vw;
    animation-duration: 2.5s;
    animation-name: animate-curly-brace; 
  }


  @keyframes animate-curly-brace{
    0%{
      width: 2vw;
      opacity: 0;
  
    }

    50%{
      opacity: .7;
    }
  
  
    100%{
      width: 14vw;
      opacity: 1;
    
    }
  }
  

  .curly-brace{
    border-top-left-radius: 20px;
    border-color: #2891a1;
    border-width: 10px;
    border-top-style: solid;
    width: 14vw;
    height: 20px;
    position: relative;
  }
  
  .curly-brace2{
    border-bottom-right-radius: 20px;
    border-color: #2891a1;
    border-width: 10px;
    border-bottom-style: solid;
    width: 14vw;
    transform: translateY(-10px);
    position: relative;
  
  }
  
  
  .curly-brace3{
    border-bottom-left-radius: 20px;
    border-color: #2891a1;
    border-width: 10px;
    border-bottom-style: solid;
    width: 14vw;
    transform: translateY(-10px);
    position: relative;
  
  
  }
  
  
  .curly-brace4{
    border-top-right-radius: 20px;
    border-color: #2891a1;
    border-width: 10px;
    border-top-style: solid;
    width: 14vw;
    height: 20px;
    position: relative;
    
  
  }
  
  
  #curly-braces-container{
    border-color: #2891a1;
    padding-bottom: 2vh;
    width: 100vw;
    margin-left: 24vw;
  
  } 

  #curly-braces-container-animate{
    border-color: #2891a1;
    padding-bottom: 2vh;
    width: 100vw;
    margin-left: 11vw;
    animation-duration: 2.5s;
    animation-name: animate-curly-margin; 
  } 


  @keyframes animate-curly-margin{
    0%{
      margin-left: 24vw;
  
    }

    10%{
      margin-left: 24vw;
  
    }
  
    100%{
      margin-left: 11vw;
    }
  }
  

}

@media (prefers-reduced-motion) {
  #curly-brace-before1{
    opacity: 1;
    animation-duration: 0s;
    animation-name: no-animate; 
  }

  .curly-braces-container-animate{
    animation-duration: 0s;
    animation-name: no-animate; 
  }

  #curly-braces-container{
    border-color: #2891a1;
    padding-bottom: 2vh;
    width: 100vw;
    margin-left: 11vw;
  
  } 


}