@media screen and (max-width: 5008px){

.blueCustomer {
  background-color: #0073cf;
  z-index: -20;
  padding-left: 10vw;
}

.customer{
  transform: translateY(-18vh);
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 80%;
  color: #bfecf4;

}

.customerText{
  font-size: 3vw;
  width: 90%;
  padding-bottom: 4vh;
  font-style: oblique;
}
}

@media screen and (max-width: 768px){
  .blueCustomer {
    background-color: #0073cf;
    z-index: -20;
    padding-left: 10vw;
  }
  
  .customer{
    transform: translateY(-18vh);
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 70%;
    color: #bfecf4;

  }
  
  .customerText{
    font-size: 5vw;
    width: 105%;
  }

  .customerSubtitle{
    padding-top: 3vh;

  }
  
}