.greenLine{
  width: 40vw;
  height: 2vh;
  border-color: #01FFFF;
  border-width: 10px;
  border-bottom-style: solid;
  margin-left: 0;
  transform: translateY(-19.5vh);
}

@media screen and (max-width: 6008px){

  .geofences{
    background-color: white;
    color: black;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 35px;
    width: 1152px;
    padding-bottom: 100px;
    margin: auto;
    border-radius: 42px;
    z-index: 1;
    position:relative;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.366);
  
  }
  
  .inClicksSubHeader{
    text-align: center;
    font-size: 53px;
    color: #2891a1;
  
  }
  
  .increaseHeader{
    color: #2891a1;
    text-align: center;
    font-weight: 700;
    font-size: 70px;
    line-height: 60px;
    padding-top: 40px;
  
  
  }
  
  .geofencesText {
    color: black;
    align-items: end;
    font-size: 40px;
    line-height: 68px;
    visibility: visible;
  }
  
  .geofencesTextMobile{
    color: black;
    align-items: end;
    font-size: 0px;
    line-height: 0;
    visibility: hidden;
  }
  
  .geofencesTextTop {
    color: black;
    align-items: end;
    font-size: 84px;
    visibility: hidden;
  }
  
  .padding-geofences {
    min-height: 350px;
    height: 600px;
  
  }
  
  .padding-geofencesMobile {
    min-height: 0px;
    height: 0vh;
  }
  
  /* BADHEADER BLUE BACKGROUND */
  #right{
    font-style: normal;
    font-size: 100px;
    width: 1156px;
    margin: auto;
    line-height: 200px;
    color: #bfecf4;
  
  }
  
  .bluebox {
    background-color: #0073cf;
    min-height: 720px;
    height: 105vw;
    transform: translateY(10vh);
    z-index: 0;
    width: 100vw;
    position: absolute;
  }
  
  .blueCustomer{
    padding-top: 30vh;
    padding-bottom: 2vh;
    transform: translate(0vw,-18vh);
    z-index: 0;
    width: 100vw;
    /* position: absolute; */
  }
  
  .box1{
    background-color: #041c20;
    color: #54c8da;
    min-height: 330px;
    height: 40vh;
    width: 43vw;
    z-index: 5;
    position: absolute;
    border-top-right-radius:3cqb;
    border-bottom-right-radius:3cqb;
  
  }
  
  .box2{
    background-color: #2891a1;
    color: #011315;
    min-height: 330px;
    height: 40vh;
    width: 68vw;
    border-top-right-radius:3cqb;
    border-bottom-right-radius:3cqb;
    z-index: 4;
    position: absolute;
  
  }
  .box3{
    background-color: #1efbd3;
    color: #0a434b;
    min-height: 330px;
    height: 40vh;
    width: 84vw;
    border-top-right-radius:3cqb;
    border-bottom-right-radius:3cqb;
    z-index: 3;
    position: absolute;
  
  
  }
  
  .boxes{
    position:absolute;
    transform: translateX(-100px);
    text-align: right;
    display: flex;
  
  
  }
  
  
  .six-header{
    margin: 0;
    text-align: right;
    font-size: 40px;
    padding-top: 55px;
    padding-right: 20px;
    font-weight: 700;
    float: right;
    justify-content: right;
    word-wrap: wrap;
    /* display: block; */
    bottom: 1em;
    
  
  }

  .six-header-mobile{
    visibility: hidden;
    font-size: 0;


  }

  
  
  .six-header-small{
    margin: 0;
    text-align: right;
    font-size: 40px;
    font-weight: 700;
    padding-right: 20px;
    visibility: visible;
    padding-bottom: 0px;
    /* max-width: 14.5vw; */
    float: right;
    justify-content: right;
    word-wrap: wrap;
    /* display: block; */
    bottom: 1em;
  
  
  }
  
  
  .six-header-med-mobile{
    visibility: hidden;
    font-size: 0;
  
  }
  
  .six-header-med{
    margin: 0;
    text-align: right;
    font-size: 40px;    padding-top: 55px;
    padding-right: 50px;
    font-weight: 700;
    float: right;
    justify-content: right;
    word-wrap: wrap;
    /* display: block; */
    bottom: 1em;
    padding-bottom: 0px;
  }
  
  .six-header-med2{
    margin: 0;
    text-align: right;
    font-size: 40px;    font-weight: 700;
    padding-right: 50px;
    visibility: visible;
    padding-bottom: 0px;
    /* max-width: 14.5vw; */
    float: right;
    justify-content: right;
    word-wrap: wrap;
    /* display: block; */
    bottom: 1em;
  }
  
  
  .six-header-wide{
    text-align: right;
    font-size: 40px;
    padding: 50px;
    padding-right: 50px;

    /* max-width: 29vw; */
    float: right;
    justify-content: right;
    word-wrap: wrap;
    font-weight: 700;
  
    /* display: block; */
    bottom: 1em;
  
  }
  
  .times-p{
    font-size: 140px;
    padding-top: 80px;
    padding-right: 50px;
    position: relative;
    text-align: right;
  
  }
  
  #small-times-p{
    padding-right: 40px;
  }
  }

@media screen and (max-width: 1455px){

.geofences{
  background-color: white;
  color: black;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 4vh;
  width: 70vw;
  padding-bottom: 5vh;
  margin: auto;
  border-radius: 2vw;
  z-index: 1;
  position:relative;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.366);

}

.inClicksSubHeader{
  text-align: center;
  font-size: 2.5vw;
  color: #2891a1;

}

.increaseHeader{
  color: #2891a1;
  text-align: center;
  font-weight: 700;
  font-size: 3.3vw;
  line-height: 2vw;
  padding-top: 3vh;


}

.geofencesText {
  color: black;
  align-items: end;
  font-size: 2vw;
  line-height: 3.5vw;
  visibility: visible;
}

.geofencesTextMobile{
  color: black;
  align-items: end;
  font-size: 0px;
  line-height: 0vw;
  visibility: hidden;
}

.geofencesTextTop {
  color: black;
  align-items: end;
  font-size: 4vw;
  visibility: hidden;
}

.padding-geofences {
  min-height: 350px;
  height: 28vw;

}

.padding-geofencesMobile {
  min-height: 0px;
  height: 0vh;
}


#right{
  font-style: normal;
  font-size: 5.5vw;
  width: 80%;
  line-height: 8vw;
  color: #bfecf4;
  margin: 0;


}


.bluebox {
  background-color: #0073cf;
  min-height: 720px;
  height: 105vw;
  transform: translateY(10vh);
  z-index: 0;
  width: 100vw;
  position: absolute;
}

.blueCustomer{
  padding-top: 30vh;
  padding-bottom: 2vh;
  transform: translate(0vw,-18vh);
  z-index: 0;
  width: 100vw;
  /* position: absolute; */
}

.box1{
  background-color: #041c20;
  color: #54c8da;
  min-height: 330px;
  height: 40vh;
  width: 43vw;
  z-index: 5;
  position: absolute;
  border-top-right-radius:3cqb;
  border-bottom-right-radius:3cqb;

}

.box2{
  background-color: #2891a1;
  color: #011315;
  min-height: 330px;
  height: 40vh;
  width: 68vw;
  border-top-right-radius:3cqb;
  border-bottom-right-radius:3cqb;
  z-index: 4;
  position: absolute;

}
.box3{
  background-color: #1efbd3;
  color: #0a434b;
  min-height: 330px;
  height: 40vh;
  width: 84vw;
  border-top-right-radius:3cqb;
  border-bottom-right-radius:3cqb;
  z-index: 3;
  position: absolute;


}

.boxes{
  position:absolute;
  transform: translateX(-5vw);
  text-align: right;
  display: flex;


}


.six-header{
  margin: 0;
  text-align: right;
  font-size: 2.2vw;
  padding-top: 4vw;

  padding-right: 2vw;
  font-weight: 700;
  float: right;
  justify-content: right;
  word-wrap: wrap;
  /* display: block; */
  bottom: 1em;
  

}
.six-header-mobile{
  visibility: hidden;
  font-size: 0;

}


.six-header-small{
  margin: 0;
  text-align: right;
  font-size: 2.2vw;
  font-weight: 700;
  padding-right: 2vw;
  visibility: visible;
  padding-bottom: 2vw;
  /* max-width: 14.5vw; */
  float: right;
  justify-content: right;
  word-wrap: wrap;
  /* display: block; */
  bottom: 1em;


}

.six-header-med-mobile{
  visibility: hidden;
  font-size: 0;

}

.six-header-med{
  margin: 0;
  text-align: right;
  font-size: 2.2vw;
  padding-top: 4vw;
  padding-right: 2vw;
  font-weight: 700;
  float: right;
  justify-content: right;
  word-wrap: wrap;
  /* display: block; */
  bottom: 1em;
  padding-bottom: 0px;
}

.six-header-med2{
  margin: 0;
  text-align: right;
  font-size: 2.2vw;
  font-weight: 700;
  padding-right: 2vw;
  visibility: visible;
  padding-bottom: 2vw;
  /* max-width: 14.5vw; */
  float: right;
  justify-content: right;
  word-wrap: wrap;
  /* display: block; */
  bottom: 1em;
}



.six-header-wide{
  text-align: right;
  font-size: 2.2vw;
  padding: 4vw;
  padding-right: 2vw;

  /* max-width: 29vw; */
  float: right;
  justify-content: right;
  word-wrap: wrap;
  font-weight: 700;

  /* display: block; */
  bottom: 1em;

}

.times-p{
  font-size: 6.5vw;
  padding-top: 2vh;
  padding-right: 2vw;
  position: relative;
  text-align: right;

}

#small-times-p{
  padding-right: 2vw;
  transform: translateY(0);
}
}


@media screen and (max-width: 760px){

  .inClicksSubHeader{
    text-align: center;
    font-size: 5vw;
    color: #2891a1;
  
  }
  
  .increaseHeader{
    color: #2891a1;
    text-align: center;
    font-weight: 700;
    font-size: 8vw;
    line-height: 4vw;
    padding-top: 3vh;
  
  }

  .geofences{
    background-color: white;
    color: black;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 3vh;
    width: 90vw;
    padding-bottom: 0vh;
    margin: auto;
    border-radius: 2vw;
    z-index: 1;
    position:relative;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.366);
  
  }
  
  .geofencesText {
    color: black;
    align-items: end;
    font-size: 0vw;
    line-height: 0vw;
    visibility: hidden;
  }

    
  .geofencesTextMobile{
    color: black;
    align-items: end;
    font-size: 4.8vw;
    line-height: 7.6vw;
    visibility: visible;
    padding-bottom: 5vh;
    margin-left: 3vw;
  }

  .geofencesTextTop {
    color: black;
    align-items: end;
    font-size: 4vw;
    visibility: hidden;
  }
  
  .padding-geofences {
    min-height: 0px;
    height: 0vh;
  
  }

  .padding-geofencesMobile {
    min-height: 150px;
    height: 60vh;
  }
  
  
  #right{
    font-style: normal;
    font-size: 6vw;
    width: 80%;
    line-height: 10vw;
    margin: 0;
    color: #bfecf4;

  }
  
  .bluebox {
    background-color: #0073cf;
    min-height: 1200px;
    height: 65vh;
    transform: translateY(10vh);
    z-index: 0;
    width: 110vw;
    position: absolute;
  }
  
  .blueCustomer{
    padding-top: 30vh;
    padding-bottom: 2vh;
    transform: translate(0vw,-18vh);
    z-index: 0;
    width: 105vw;
    /* position: absolute; */
  }
  
  .box1{
    background-color: #041c20;
    color: #54c8da;
    min-height: 330px;
    height: 40vh;
    width: 43vw;
    z-index: 5;
    position: absolute;
    border-top-right-radius:3cqb;
    border-bottom-right-radius:3cqb;
  
  }
  
  .box2{
    background-color: #2891a1;
    color: #011315;
    min-height: 330px;
    height: 40vh;
    width: 68vw;
    border-top-right-radius:3cqb;
    border-bottom-right-radius:3cqb;
    z-index: 4;
    position: absolute;
  
  }
  .box3{
    background-color: #1efbd3;
    color: #0a434b;
    min-height: 330px;
    height: 40vh;
    width: 84vw;
    border-top-right-radius:3cqb;
    border-bottom-right-radius:3cqb;
    z-index: 3;
    position: absolute;

  
  }
  
  .boxes{
    position:absolute;
    transform: translateX(-5vw);
    text-align: right;
    display: flex;
  
  
  }
  
  
  .six-header{
    margin: 0;
    text-align: left;
    font-size: 4vw;
    padding-top: 4vw;
    padding-left: 4vw;
    font-weight: 700;
    /* max-width: 14.5vw; */
    float: left;
    justify-content: left;
    word-wrap: wrap;
    /* display: block; */
    bottom: 1em;
  
  
  }

  .six-header-mobile{
    margin: 0;
    text-align: left;
    font-size: 4vw;
    font-weight: 700;
    padding-right: 2vw;
    padding-bottom: 2vw;
    /* max-width: 14.5vw; */

    justify-content: left;
    word-wrap: wrap;
    /* display: block; */
    bottom: 1em;
    visibility: visible;

  }
  
  .six-header-small{
    visibility: hidden;
    margin: 0;
    text-align: left;
    font-size: 4vw;
    font-weight: 700;
    padding-right: 2vw;
    padding-bottom: 2vw;
    /* max-width: 14.5vw; */
    justify-content: left;
    word-wrap: wrap;
    /* display: block; */
    bottom: 1em;
  
  
  }

  #small-times-p{
    float: right;
    position: absolute;
    padding-top: 0;
    top: 2vh;
    left: 0;
    font-size: 8vw;

  }

  #large-times-p{
    top: 12vh;
    font-size:13vw;

  }

  .times-p{
    font-size: 10vw;
    font-weight: 700;
    padding-top: 0vh;
    padding-right: 2vh;
    position: absolute;
    top: 7vh;
    text-align: right;
  
  }
  
  
  
  .six-header-med-mobile{
    visibility: visible;
    font-size: 5vw;
  
  }
  
  .six-header-med{
    margin: 0;
    text-align: left;
    font-size: 5vw;
    padding-top: 4vw;
    padding-left: 4vw;
    font-weight: 700;
    
    float: left;
    justify-content: left;
    word-wrap: wrap;
    /* display: block; */
    bottom: 1em;
    padding-bottom: 0px;
  }
  
  .six-header-med2{
    margin: 0;
    text-align: right;
    font-size: 0;
    font-weight: 700;
    padding-right: 2vw;
    visibility: hidden;
    padding-bottom: 2vw;
    /* max-width: 14.5vw; */
    float: right;
    justify-content: right;
    word-wrap: wrap;
    /* display: block; */
    bottom: 1em;
  }
  
  .six-header-wide{
    text-align: left;
    font-size: 6vw;
    padding-top: 4vw;
    
    /* max-width: 29vw; */
    float: left;
    justify-content: left;
    word-wrap: wrap;
    font-weight: 700;
  
    /* display: block; */
    bottom: 1em;
  
  }

  

  
  }