@media screen and (max-width: 6008px){
  .punchline{
    
  }
  
  #punchline-main{
    transform: translateY(-10vh);
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 1224px;
    color: #bfecf4;
    font-size: 80px;
    padding-bottom: 10vh;
  
  }
  
  #right{
    margin: auto;
    width: 80vw;
  
  }

  .dramatically {
    text-decoration: underline;
    text-decoration-color: #1efbd3;
  }
  
  
  }

@media screen and (max-width: 1455px){


#punchline-main{
  transform: translateY(-12vh);
  align-items: center;
  justify-content: center;
  line-height: 6vw;
  margin: auto;
  width: 80%;
  color: #bfecf4;
  font-size: 4vw;

}




.dramatically {
  text-decoration: underline;
  text-decoration-color: #1efbd3;
}

}

@media screen and (max-width: 760px){

  .punchline-image-container{
    height: 40vh;

  }

  .punchline-image{
    background-image: url("https://res.cloudinary.com/dytb4ayqj/image/upload/v1718808892/SpendPointimage-06_wex5tg.png");
    height: 10vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
  }

  .punchline-image-anim{
    background-image: url("https://res.cloudinary.com/dytb4ayqj/image/upload/v1719504356/map_wujcc6.png");
    height: 40vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    animation-duration: 4s;
    animation-name: animate-image; 

  }

  .punchline-person{
    height: 20vh;
    width: 20vw;
    position: absolute;
    transform: translate(0vw, 28vh);
    background-image: url("https://res.cloudinary.com/dytb4ayqj/image/upload/v1718808892/SpendPointimage-06_wex5tg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;

  }


  .punchline-person-anim{
    height: 20vh;
    width: 20vw;
    position: absolute;
    transform: translate(22vw, 28vh);
    background-image: url("https://res.cloudinary.com/dytb4ayqj/image/upload/v1718808892/SpendPointimage-06_wex5tg.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    animation-duration: 1s;
    animation-name: animate-person; 
  }

  .punchline-time{
    width: 20vw;
    transform: translate(100vw, 28vh);
    background-image: url("https://res.cloudinary.com/dytb4ayqj/image/upload/v1719504354/clock_rownxb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    height: 20vh;

  }

  .punchline-time-anim{
    height: 20vh;
    width: 20vw;
    position: absolute;
    transform: translate(60vw, 28vh);
    background-image: url("https://res.cloudinary.com/dytb4ayqj/image/upload/v1719504354/clock_rownxb.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    animation-duration: 2s;
    animation-name: animate-time; 
  }

  @keyframes animate-person{
    0%{
      height: 20vh;
      transform: translate(0vw, 28vh);
    }
    100%{
      height: 20vh;
      transform: translate(22vw, 28vh);

    }
  }
  @keyframes animate-time{
    0%{
      height: 20vh;
      transform: translate(100vw, 28vh);

    }
    50%{
      height: 20vh;
      transform: translate(100vw, 28vh);

    }
    100%{
      height: 20vh;
      transform: translate(60vw, 28vh);


    }
  }

  @keyframes animate-image{
    0%{
      height: 10vh;
      opacity: 0;
    }
    20%{
      height: 10vh;
      opacity: 0;
    }
    100%{
      height: 40vh;
      opacity: 1;


    }
  }

 
  #punchline-main{
    transform: translateY(0vh);
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 80%;
    color: #bfecf4;

  }
  

  .dramatically {
    text-decoration: underline;
    text-decoration-color: #1efbd3;
  }
  
}