

@media screen and (max-width: 6000px){
  #rightSubtitleLeft{
    color: white;
    text-align: center;
  }
  #floatLeft{
    float: center;
  }



#rightSubtitle{
  color: white;
  font-weight: 600;

}

.right{
  margin: auto;
  width: 1024px;

}


.timePersonPlace{
  display: block;
  text-align: center;
  padding-right: 60px;
  padding-left: 60px;


}

.sideLine{
  background-color: #193c4c;
  color: white;
  z-index: 10;
  width: 12px;
  height: 600px;
  position: absolute;
  transform: translate(-45px, 45px);
  visibility: visible;
}

.timePersonPlaceContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 0vh;
  margin-top: 0;
  width: 1024px;
}


.ROAS{
  font-size: 70px;
  font-weight: 700;
  color: white;

}

.spentPointP{
  font-size: 40px;
  z-index: 2;
  position: relative;
  padding-left: 35px;
  padding-top: 35px;
  padding-right: 35px;
  width: 800px;
  padding-bottom: 80px;
  margin-bottom: 0;
  color: #9ebedc;
  text-align: left;
}
}

@media screen and (max-width: 1455px){
  #rightSubtitleLeft{
    color: white;
    text-align: center;
  }
  #floatLeft{
    float: center;
  }



#rightSubtitle{
  color: white;
  font-weight: 600;

}

.right{
  margin: auto;
  width: 80vw;

}


.timePersonPlace{
  display: block;
  text-align: center;
  padding-right: 4.5vw;
  padding-left: 4.5vw;


}

.timePersonPlace img{
  width: 16vw;

}

.sideLine{
  background-color: #193c4c;
  color: white;
  z-index: 10;
  width: .5vw;
  height: 35vw;
  position: absolute;
  transform: translate(-20px, 30px);
  visibility: visible;
}

.timePersonPlaceContainer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 0vh;
  margin-top: 0;
  width: 80vw;
}


.ROAS{
  font-size: 3.1vw;
  font-weight: 700;
  color: white;

}

.spentPointP{
  font-size: 2vw;
  z-index: 2;
  position: relative;
  padding-left: 2vh;
  padding-top: 2vh;
  padding-right: 2vh;
  width: 60%;
  padding-bottom: 5vh;
  margin-bottom: 0;
  color: #9ebedc;
  text-align: left;
}
}

@media screen and (max-width: 760px){


  #floatLeft{
    float: left;
  }

  .timePersonPlace img{
    width: 22vw;
    float: left;
    padding-right: 2vw;
  }


  .timePersonPlace{
    display: relative;
  }

  .sideLine{
    background-color: #193c4c;
    color: white;
    z-index: 10;
    width: 5px;
    height: 45vw;
    position: fixed;
    transform: translate(-2vw, 3vw);
    visibility: hidden;
  }
  

  .right{
    margin: auto;
    width: 90vw;
  
  }

  
  .timePersonPlace{
    display: relative;
    margin-bottom: 5vw;
    margin-top: 5vw;
    text-align: left;
    padding-left: 0vw;
  
  }  

  .timePersonPlaceContainer {
    display: inline-flex;
    justify-content: left;
    align-items: left;
    /* margin: auto; */
    padding-top: 4vh;
    margin-top: 0;
    /* width: 80vw; */
  }

  .rightSubtitle{
    position: relative;
    left: 1px;
    font-size: 5vw;
    padding-top: 4vh;
    padding-left: 0vw;
    color: white;
    font-weight: 500;
  }

  #rightSubtitleLeft{
    color: white;
    text-align: left;
    font-weight: 500;
  }

  .ROAS{
    font-size:6.9vw;
    font-weight: 700;
  
  }

  
  .spentPointP{
    font-size: 4.5vw;
    font-weight: 500;
    width: 90%;
    z-index: 2;
    position: relative;
    padding-left: 6vw;
    padding-top: 2vh;
    padding-right: 2vh;
    padding-bottom: 0vh;
    margin-bottom: 0;
    text-align: left;
  }

  
}

@media (prefers-reduced-motion) {
  .box-animate{
    animation-duration: 0s;
    animation-name: no-animate; 
  }
  .box-animate-delay{
    animation-duration: 0s;
    animation-name: no-animate; 
  }
  .box-animate-delay2{
    animation-duration: 0s;
    animation-name: no-animate; 
  }
}