:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  width: 100%;
  color: rgba(255, 255, 255, 0.87);
  background-color: #041c20;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



html {
  scroll-behavior: smooth;

}

#total{
  color: rgba(255, 255, 255, 0.87);
  background-color: #041c20;
}


.spendpointLogoTop{
  width: 50vw;
  padding-bottom: 10vh;
  padding: 5vw;
  z-index: 2;
  position: relative;
}


.bottom-logo{
  width: 115vw;
  justify-content: center;
  align-items: center;
  transform: translate(-5vw, -16vh);

}

.heading {
  font-size: 2.5em;
}